<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KrmKantar2013.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SANDIEGO\SQLEXP2012;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
        <add name="KROMAN2013Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRMNAPP06;initial catalog=KROMAN2013; persist security info=True; user id=sa; password=knBo0EXdgqR7mvQ/M1aH7g==; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!--APP_LOCATION-->
    <!--"GUMRUK / Liman / Merkez "-->
    <add key="APP_LOCATION" value="MERKEZ" />
    <add key="KROMAN_LIMAN" value="False" />
    <!--SAP_SETTINGS-->
    <add key="SAP110P" value="http://krmnprd.yucelborugrup.local:8000/sap/bc/srt/rfc/sap/zws_kantar_functions_v2/110/zws_kantar_functions_v2/binding_kantar_functions_v2" />
    <add key="SAP150T" value="http://ybrdev.yucelborugrup.local:8000/sap/bc/srt/rfc/sap/zws_kantar_functions_v2/150/zws_kantar_functions_v2/binding_kantar_functions_v2" />
    <add key="SAP110Q" value="http://krmnqa01.yucelborugrup.local:8000/sap/bc/srt/rfc/sap/zws_kantar_functions_v2/110/zws_kantar_functions_v2/binding_kantar_functions_v2" />
    <!--PORT_SETTINSG_K1-->
    <add key="K1_PortKntr" value="TUNAYLAR" />
    <add key="K1_PortAktif" value="True" />
    <add key="K1_KantarSeriNo" value="SN1" />
    <add key="K1_PortName" value="COM1" />
    <add key="K1_BaudRate" value="9600" />
    <add key="K1_DataBits" value="8" />
    <add key="K1_DiscardNull" value="False" />
    <add key="K1_DtrEnable" value="False" />
    <add key="K1_Handshake" value="None" />
    <add key="K1_Parity" value="None" />
    <add key="K1_ParityReplace" value="63" />
    <add key="K1_ReadBufferSize" value="4096" />
    <add key="K1_ReadTimeout" value="-1" />
    <add key="K1_ReceivedBytesThreshold" value="1" />
    <add key="K1_RtsEnable" value="False" />
    <add key="K1_StopBits" value="One" />
    <add key="K1_WriteBufferSize" value="2048" />
    <add key="K1_WriteTimeout" value="-1" />
    <!--PORT_SETTINSG_K2-->
    <add key="K2_PortKntr" value="TUNAYLAR" />
    <add key="K2_PortAktif" value="True" />
    <add key="K2_KantarSeriNo" value="SN2" />
    <add key="K2_PortName" value="COM2" />
    <add key="K2_BaudRate" value="9600" />
    <add key="K2_DataBits" value="8" />
    <add key="K2_DiscardNull" value="False" />
    <add key="K2_DtrEnable" value="False" />
    <add key="K2_Handshake" value="None" />
    <add key="K2_Parity" value="None" />
    <add key="K2_ParityReplace" value="63" />
    <add key="K2_ReadBufferSize" value="4096" />
    <add key="K2_ReadTimeout" value="-1" />
    <add key="K2_ReceivedBytesThreshold" value="1" />
    <add key="K2_RtsEnable" value="False" />
    <add key="K2_StopBits" value="One" />
    <add key="K2_WriteBufferSize" value="2048" />
    <add key="K2_WriteTimeout" value="-1" />
    <!--PORT_SETTINSG_S1-->
    <add key="S1_PortKntr" value="ESIT" />
    <add key="S1_PortAktif" value="False" />
    <add key="S1_KantarSeriNo" value="SN3" />
    <add key="S1_PortName" value="COM2" />
    <add key="S1_BaudRate" value="9600" />
    <add key="S1_DataBits" value="8" />
    <add key="S1_DiscardNull" value="False" />
    <add key="S1_DtrEnable" value="False" />
    <add key="S1_Handshake" value="None" />
    <add key="S1_Parity" value="None" />
    <add key="S1_ParityReplace" value="63" />
    <add key="S1_ReadBufferSize" value="4096" />
    <add key="S1_ReadTimeout" value="-1" />
    <add key="S1_ReceivedBytesThreshold" value="1" />
    <add key="S1_RtsEnable" value="False" />
    <add key="S1_StopBits" value="One" />
    <add key="S1_WriteBufferSize" value="2048" />
    <add key="S1_WriteTimeout" value="-1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <KrmKantar2013.Properties.Settings>
      <setting name="Kantar2013_WR_service_kantar_functions" serializeAs="String">
        <value>http://krmnprd.yucelborugrup.local:8000/sap/bc/srt/rfc/sap/zws_kantar_functions_v2/110/zws_kantar_functions_v2/binding_kantar_functions_v2</value>
      </setting>
      <setting name="PrintMode" serializeAs="String">
        <value>True</value>
      </setting>
    </KrmKantar2013.Properties.Settings>
  </userSettings>
</configuration>